.info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 56px;
}

.home-info-title {
    color: rgb(51, 51, 51);
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
}

.home-info-text {
    margin-bottom: 50px;
    color: rgb(102, 102, 102);
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
}

.home-info-list {
    display: flex;
    align-items: center;
    gap: 0 30px;
}

.home-info-item-img {
    margin-bottom: 20px;
}

.home-info-item-text {
    color: rgb(51, 51, 51);
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: center;
}